$baseColor:rgb(235, 106, 106);
$backColor:yellow;
$baseSize:1.3rem;
$baseWidth:40vw;
$baseFont:arial;

section {
    margin: 0 auto;
    width: $baseWidth;
    background-color: $backColor;
}


section h1 {
    color: $baseColor;
    font-family: $baseFont;
}


section p {
    font-size: $baseSize;
    font-family: $baseFont;
    color: $baseColor;
}