@import "footer","header";
.row #navbar-example3 nav a{
    background-color: #f2f2f2;
    font-size: 0.96rem;
    color: blue;
}
body{
    background-color: #f2f2f2;
}
div img{
    
    width: 14.5vw;
}
@media (max-width: 990px){
    .row #navbar-example3 nav a{
    
    font-size: 0.2rem;
    
}
div img{
    
    width: 11vw;
}
}