@import "header","footer";
body{
    background-color: #f2f2f2;
}
.carousel-inner div img{
    height: 90vh;
}
.mobileImg{
    display: none;
   
}
.mobileImg img{
     width: 100vw;
     height: 80vh;
}
p{
   font-family: 'Roboto', sans-serif; 
}
.midSectionParagraph{ 
    width: 70vw;
   margin: 15px auto;
   background-color: #f2cc0f;
   padding: 5px;
   line-height: 2;
}
.midSectionParagraph span{
    color:#8cbf3f;
    font-size: 1.7rem;
    
}
.row h1{
    text-align: center;
}
.sponsorsmobile{
    display: none ;
}
.card img{
    height: 20vh;
}
@media (max-width: 990px){
    #carouselExampleCaptions{
        display: none;
    }
.mobileImg{
    display: block;
}
.sponsorsmobile{
    display:flex;
}
.sponsorpc{display: none
}
}
#sponsorFocus{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.472);
    top: 0vh;
    display: none;

}
.sponserbox{
    background-color: #f2f2f2;
    width: 300px;
    height: 473px;
    margin: 20vh auto;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 20px;
}
.sponserbox h1:first-of-type{  
    width: 10px;
    padding-right: 10px;
    text-align:right;
    color: red;
    position: relative;
    top: -6px;
    left: 264px;
    z-index: 10;
}
.sponserbox h1:first-of-type:hover{
    cursor: pointer;
    color: rgb(129, 8, 8);

}
.sponserbox img,.sponserbox h1:nth-of-type(2),.sponserbox p,.sponserbox button{
    position: relative;
     top: -50px;
     z-index: 1;
}

.sponserbox img{
    width: 280px;
    height: 120px;
    left:10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sponserbox h1:nth-of-type(2){
    margin: 7px;
    font-size: 1.3rem;
    font-weight: bold;
}




.sponserbox p{

    font-size: 0.87rem;
    padding:0px 7px;
    text-align: justify;

}


.sponserbox button {

   top: -60px;
   left: 5px;

        a{
             text-decoration: none;
        }
}



@media (max-width: 1300px){
.sponserbox{
  
}

}