header {
    margin: 0;
    width: 100vw;
    height: 87px;
    background-color: yellow;
    position: fixed;
    top: 0px;
    text-align: center;
    font-size: 3rem;
    line-height: 1.8;
    z-index: 88;





    @include DESKTOP {
        background-color: orange
    }

    @include tablet {
        background-color: orangered
    }

    @include mobile {
        background-color: tomato;
    }


}