$backColor2:orange;

@mixin box($width, $hight, $back) {

    width: $width;
    height: $hight;
    background-color: $back;
    border: 4px solid lightcyan;
    border-radius: 30px;
    margin: 20px;
    font-family: 'Fascinate', cursive;
    font-size: 1.5rem;
    padding-top: 50px;
    text-align: center;


}

.boxm1 {
    @include box(250px, 350px, $backColor2);

    &:hover {
        background-color: darken($color: $backColor2, $amount: 20)
    }
}

.boxm2 {
    @include box(600px, 600px, aqua);
}

.boxm3 {
    @include box(200px, 450px, lightcyan);
}

.boxm4 {
    @include box(300px, 400px, lightgreen);
}

.boxm5 {
    @include box(500px, 350px, orangered);
}