@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
$baseColor:rgb(235, 106, 106);
$backColor:rgb(106, 243, 138);
$baseSize:1.3rem;
$baseWidth:40vw;
$baseFont:arial;
$textShadow:rgb(60, 59, 59) 0.5px 0.5px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//mixing media

@mixin DESKTOP {

    @media (max-width:1200px) {
        @content;
    }

}

@mixin tablet {

    @media (max-width:900px) {
        @content;
    }

}

@mixin mobile {

    @media (max-width:600px) {
        @content;
    }

}