@import"setup",
"header",
"nesting",
"extend";

.boxs {
    margin: 150px auto;
    width: $baseWidth;
}

section {
    width: 100%;
    margin: 10px 10px auto;
    background-color: $backColor;

}


section h1 {
    color: $baseColor;
    font-family: $baseFont;
    text-shadow: $textShadow;
}


section p {
    font-size: $baseSize;
    font-family: $baseFont;
    color: $baseColor;
    text-shadow: $textShadow;
}